gradio>=4.0.0
deepface>=0.0.93
transformers>=4.40.0
torch>=2.0.0
torchvision>=0.15.0
Pillow>=10.0.0
numpy>=1.24.0
matplotlib>=3.7.0
scikit-learn>=1.3.0
tf-keras>=2.16.0
sentencepiece>=0.1.99
accelerate>=0.27.0
openai-whisper
soundfile
scipy
opencv-python-headless
huggingface_hub